.solutionContainer{
  min-height: 700px;
  width: 95%;
  position: relative;
  left: 2.5%;
}
.solutionColumn{
  position: relative;
  background-color: khaki;
  border: 1px black solid;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 5px;
  /* padding: 5px; */
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-style: groove;
}
/* .one > p{
  color: white;
  display: none;
} */
/* .one:hover{
  background-color: rgba(0, 0, 0, 0.534);
} */


/* .b {
  position: relative;
  transition: .5s ease;
  opacity: 0; 
  transform: translate(-50%, -50%);
  text-align: center;
  /* background-color: black; */
  /* height: 50px; */
/* } */ 

.solutionColumn:hover .HoverSolutionContainer {
  opacity: 1;
 display: flex;
 width: inherit;

}


.HoverSolutionContainer {
display: none;
width: inherit;
height: 70%;
 background-color: rgba(0, 0, 0, 0.562);
 justify-content: start;
 align-items: center;
 flex-direction: column;
 border-bottom-left-radius: 25px;
 border-top-right-radius: 25px;
}
#washHands{
  background-image: url('https://www.clalit.co.il/he/your_health/family/PublishingImages/Pages/covid19_prevention/hands2.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
#towMeter{
  background-image: url('https://cdn.pixabay.com/photo/2015/08/13/19/39/children-887393__340.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}