.solutionContainer{
  min-height: 700px;
}
.solutionColumn{
  position: relative;
  background-color: khaki;
  border: 1px black solid;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .one > p{
  color: white;
  display: none;
} */
/* .one:hover{
  background-color: rgba(0, 0, 0, 0.534);
} */
.s{
  position: relative;
  width: 100%;
  display: flex;
  background-color: ivory;
  height: 100px;
}

/* .b {
  position: relative;
  transition: .5s ease;
  opacity: 0; 
  transform: translate(-50%, -50%);
  text-align: center;
  /* background-color: black; */
  /* height: 50px; */
/* } */ 

.s:hover .sb {
  opacity: 0.3;
}

.s:hover .b {
  opacity: 1;
}

.sb {
/* position: absolute; */
width: 100%;
 background-color: tomato;
 display: flex;
 justify-content: center;
 /* top:0; */
/* height: 100px; */
  /* padding: 16px 32px; */
}