.solutionContainer{
  min-height: 700px;
  width: 95%;
  position: relative;
  left: 2.5%;
}
.solutionColumn{
  position: relative;
  /* background-color: khaki; */
  border: 1px rgba(0, 0, 0, 0.3) solid;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 5px;
  /* padding: 5px; */
  /* box-shadow: 8px 8px 8px 8px rgb(255, 255, 255); */
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-style: groove;
}


/* .one > p{
  color: white;
  display: none;
} */
/* .one:hover{
  background-color: rgba(0, 0, 0, 0.534);
} */


/* .b {
  position: relative;
  transition: .5s ease;
  opacity: 0; 
  transform: translate(-50%, -50%);
  text-align: center;
  /* background-color: black; */
  /* height: 50px; */
/* } */ 

.solutionColumn:hover .HoverSolutionContainer {
 opacity: 1;
 display: flex;
 width: inherit;

}


.HoverSolutionContainer {
 display: none;
 width: inherit;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.562);
 justify-content: start;
 align-items: center;
 flex-direction: column;
 border-bottom-left-radius: inherit;
 border-top-right-radius: inherit;
}
#washHands{
  background-image: url('https://cdn.pixabay.com/photo/2020/03/15/18/36/hands-4934590__340.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
#towMeter{
  background-image: url('https://cdn.pixabay.com/photo/2017/08/06/09/52/black-and-white-2590810__340.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
#AvoidNoseContact{
  background-image: url('https://cdn.pixabay.com/photo/2016/07/01/22/34/people-1492052__340.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
#MaintainHygiene{
  background-image: url('https://cdn.pixabay.com/photo/2020/03/09/07/15/disinfection-of-hands-4914856__340.jpg');
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
}

#sneeze-to-the-elbow {
  background-image: url('https://cdn.pixabay.com/photo/2018/10/04/13/06/man-3723548_960_720.jpg');
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
}
.HoverSolutionContainer > h3 { 
  color: wheat;
}