body {
    margin: 0;
    padding: 0;
}

.global-corona-pollution {
    color: white;
    width: 100%;
    text-align: center;
    min-height: 750px;
    
}

.table-global-pollution {
    border: 2px rgb(0, 0, 0,0.1) solid;
    background-color: rgb(19, 18, 18);
    box-shadow: 10px 10px 10px #ffffff;
    padding: 5px;
    width: 50%;
    margin: 0 auto;
    font-size: 20PX;

}

.form-Search {
 
    margin: 30px;
}

.input {
  color: white;
  background-color: rgb(0, 128, 128, 0.3);
}

.button {
    background-color: slategrey;
}

.table-country-pollution {
   
    width: 50%;
    margin: 0 auto;

}

.table-global-pollution-head-numbers{
    

    color: rgb(231, 8, 8);
}

.table-country-pollution-numbers {
    
    width: 50%;
    margin: 0 auto;
    color: rgb(231, 8, 8);
    font-weight: bold;
}

.HistoryContainer{
    margin-top: 5%;
}
.HistoryContainerNone{
display: none;
}
.table{
    background-image: linear-gradient(black, rgba(80, 67, 67, 0.863), rgb(116, 27, 27));
    color: white;
}
