.CardarticelContainer{
    width: 17%;
    background-color: burlywood;
    height: 450px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    float: right;
    margin: 10px;
    border: 1px solid black;
}
.CardarticelContainer > img {
    width: 100%;
    height: 200px;
    display: flex;
    
}
.contaier{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.CardarticelContainer > span {
    font-size: small;
}
.title{
    position: relative;
}
.searchInput{
    display: inline;
}