.CardarticelContainer{
    box-shadow: 10px 10px 10px #000000;
    width: 17%;
    background-color: rgba(54, 53, 51, 0.788);
    height: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    float: right;
    margin: 10px;
    border: 5px solid rgb(0, 0, 0,0.3);
    border-radius: 10px;
  overflow: hidden;

}
@media screen and (max-width: 900px) {
  .CardarticelContainer {
      width: 20%;
  }
  }
  @media screen and (max-width: 750px) {
    .CardarticelContainer {
        width: 30%;
    }
    }
@media screen and (max-width: 600px) {
    .CardarticelContainer {
        width: 45%;
    }
    }

@media screen and (max-width: 400px) {

        .CardarticelContainer {
            width: 80%;
        }
        .searchInput {
            width: 100%
        }
        .searchInput > input[type="text"]{
            width: 200px
        }

}

.CardarticelContainer:hover {
    transition: 0.6s;
    transform: scale(1.1);

}
.CardarticelContainer > img {
    width: 100%;
    height: 120px;
    display: flex;
    
}
.contaier{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 600px;
}


.CardarticelContainer > span {
    font-size: 15px;
}

.title{
    position: relative;
    color: blanchedalmond;
    font-size: 15px;
}

.searchInput > input {
    margin-top: 10px;
    color: white;
    background-color: rgba(2, 17, 4, 0.3);
    width: 300px;
    align-items: center;

}

.searchInput > input::placeholder{
    color: black;
}
.searchInput { 
    display: flex;
    justify-content: center;
    align-items: center;    
}
.articleButton {
    border-radius: 10px;
    border: none;
    background-color: black;
    color: wheat;
    position: relative;
    top: 5px;
}

.button:hover {
    transform: scale(1.2);
    transition: 0.5s;
} 

#cardHover{
    background-color: black;
    height: 100px;
    width: 50%;
}