.HomeContainer{
  min-height: 600px;
}

.text{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 90%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.842),rgba(128, 128, 128, 0.623), rgba(53, 52, 52, 0.199));
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: rgb(165, 136, 136);
    box-shadow: 0 0 0 0.75rem rgb(20, 19, 10,0.6),
              0 0 0 1.5rem rgb(116, 111, 111,0.3),
              0 0.25rem 0.375rem 1.65rem rgba(2, 2, 2, 0.5);
}
.text > p{
    margin:0 ;
    color: rgb(255, 0, 0,0.6); 
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    
}

.total-numbers {
  font-weight: bold;
}

#carouselExampleSlidesOnly {
  margin-top: 100px;
}
.newsContainer{
  margin-top: 8%;

}
.carouselContainer{
  color: white;
  width: 90%;
  height: 580px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.692);
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.384);

}
.carouselContainer > img {
  background: blanchedalmond;
  border: 3px solid rgba(0, 0, 0, 0.692);
  padding: 10px;
  height: 450px;
  border-bottom-left-radius: 70px;
  border-top-right-radius: 70px;
  box-shadow: 20px 20px 20px rgba(54, 25, 25, 0.425);

}
.newsTitle{
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.836);
  position: relative;
  top: 30px;
  width: 72%;
  left: 13%;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.562);
}
.solutionContainer{
  margin-top: 5%;
}
#stayHomeDiv{
  background-image: url('https://cdn.pixabay.com/photo/2020/03/22/10/48/stay-at-home-4956680_1280.jpg');
  background-attachment: scroll;
  margin-top: 5%;
  height: 230px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 
 
}

@media screen and (max-width:770px){
  .text{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7%;
    margin-bottom: 10%;
 }
}