

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgb(12, 10, 10);
    border: rgba(255, 255, 255,0.2) 2px solid; 
}

.nav-link:hover {
    color: black;
    background-color: rgba(255, 255, 255,0.1);
    border-radius: 8px;
}

.home-page {
    padding-top: 70px;
}
.navLogo{
    width: 10%;
    
}
.navbar-toggler-icon{
background-color: rgba(104, 104, 104, 0.473);  
border-radius: 2px;
}

@media screen and (max-width: 800px){
    .navLogo{
        width:20%;
    }
}
@media screen and (max-width: 400px){
    .navLogo{
        width:30%;
    }
}

