body {
    background-image: url('https://cdn.pixabay.com/photo/2020/03/23/05/13/corona-4959448_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    
   

}

.App {
    height: max-content;
} 





.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(12, 10, 10);
    color: white;
    text-align: center;
    margin-top: 2%;
}
